body {
  background-color: #3d3d3d;
}
.heading {
  text-align: center;
  color: rgb(209, 209, 209);
  font-family: "Inria Sans";
}
#title {
  font-size: 90px;
}

#subtitle {
  font-size: 30px;
}
.sofadi-one-regular {
  font-family: "Sofadi One", system-ui;
  font-weight: 400;
  font-style: normal;
}
.inria-sans-light {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.inria-sans-regular {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inria-sans-bold {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.inria-sans-light-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.inria-sans-regular-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.inria-sans-bold-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}
.article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(20px, auto);
  gap: 20px;
  width: 900px;
  margin: 0 auto;
  color: rgb(209, 209, 209);
  font-family: "Sofadi One";
}
.box {
  background-color: rgba(83, 83, 83, 0.538);
  border-radius: 20px;
  padding: 2%;
}
#fifth {
  background-color: rgba(170, 170, 170, 0.538);
}
#sixth {
  background-color: rgba(229, 229, 229, 0.538);
}
